# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/

# Editors
/.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store

*.log

# SQLite database files
*.db
*.db-shm
*.db-wal

# iMoneyWiz backup directories
iMoneyWiz-Data-Backup*/
